@reset global("pc");

/* -----------------------------------------------------------------------------
  screen styles
----------------------------------------------------------------------------- */
:root {
  --color: #333;
  --link-color: #007bff;
  --link-hover-color: #f00;
}

body {
  color: var(--color);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

.table {
  @reset nested("table");
}

.list {
  @reset nested("list");
}
